<h1>
    Championships
</h1>

  <div>
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th>Tournament</th>
        <th>Winner</th>
        <th>Team</th>
        <th>Date</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="tournament in tournamentTable">
        <td>{{ tournament.id_tournament }}</td>
        <td>{{ tournament.name }}</td>
        <td>{{ tournament.team }}</td>
        <td>{{ tournament.datecreated }}</td>
      </tr>
    </tbody>
    </table>
  </div>
