<div id="form">
  <div class="container">
    <form>
      <div class="row">
        <fieldset>
            <legend>Group 1:</legend>
            <h3 ng-repeat="x in tournament.players">{{x.name}}: {{x.team1}} <input type="checkbox" ng-model = "group1.team" value={{x.team1}} ng-click="save()"></h3>
        </fieldset>
        <fieldset>
          <legend >Group 2:</legend>
          <h3 ng-repeat="x in tournament.players">{{x.name}}: {{x.team2}} <input type="checkbox" ng-model = "group2.team" value={{x.team2}} ng-click="save()"></h3>
        </fieldset>
      </div>
      <div class="row">
        <fieldset>
            <legend>Group 3:</legend>
            <h3 ng-repeat="x in tournament.players">{{x.name}}: {{x.team3}} <input type="checkbox" ng-model = "group3.team" value={{x.team1}} ng-click="save()"></h3>
        </fieldset>
        <fieldset>
            <legend>Group 4:</legend>
        <h3 ng-repeat="x in tournament.players">{{x.name}}: {{x.team4}} <input type="checkbox" ng-model = "group4.team" value={{x.team1}} ng-click="save()"></h3>
            </fieldset>
      </div>
        <!-- <div class="row">
          <fieldset>
           <legend>Group 1:</legend>
           Name: <input type="text"><br>
           Email: <input type="text"><br>
           Date of birth: <input type="text">
          </fieldset>
          <fieldset>
           <legend>Group 2:</legend>
           Name: <input type="text"><br>
           Email: <input type="text"><br>
           Date of birth: <input type="text">
          </fieldset>
        </div>
        <div class="row">
          <fieldset>
           <legend>Group 3:</legend>
           Name: <input type="text"><br>
           Email: <input type="text"><br>
           Date of birth: <input type="text">
          </fieldset>
          <fieldset>
           <legend>Group 4:</legend>
           Name: <input type="text"><br>
           Email: <input type="text"><br>
           Date of birth: <input type="text">
          </fieldset>
        </div> -->
    </form>
  </div>

  <br><br>
  <h1>FIFA Tournament</h1>
  <main id="tournament">
      <ul class="round round-2">
          <li class="spacer">&nbsp;</li>
          <form>
          <li class="game game-top winner">Lousville <span><input type="radio" ng-model = "group.1"></span></li>
          <li class="game game-spacer">&nbsp;</li>
          <li class="game game-bottom ">Colo St <span><input type="radio" ng-model = "group.1"></span></li>
          </form>

          <li class="spacer">&nbsp;</li>

          <li class="game game-top winner">Oregon <span><input type="radio" ng-model = "group.2"></span></li>
          <li class="game game-spacer">&nbsp;</li>
          <li class="game game-bottom ">Saint Louis <span><input type="radio" ng-model = "group.2"></span></li>

          <li class="spacer">&nbsp;</li>

          <li class="game game-top ">Memphis <span><input type="radio" ng-model = "group.3"></span></li>
          <li class="game game-spacer">&nbsp;</li>
          <li class="game game-bottom winner">Mich St <span><input type="radio" ng-model = "group.3"></span></li>

          <li class="spacer">&nbsp;</li>

          <li class="game game-top ">Creighton <span><input type="radio" ng-model = "group.4"></span></li>
          <li class="game game-spacer">&nbsp;</li>
          <li class="game game-bottom winner">Duke <span><input type="radio" ng-model = "group.4"></span></li>

          <li class="spacer">&nbsp;</li>
      </ul>
      <ul class="round round-3">
          <li class="spacer">&nbsp;</li>

          <li class="game game-top winner">Lousville <span><input type="radio" ng-model = "group.2"></span></li></li>
          <li class="game game-spacer">&nbsp;</li>
          <li class="game game-bottom ">Oregon <span><input type="radio" ng-model = "group.2"></span></li></li>

          <li class="spacer">&nbsp;</li>

          <li class="game game-top ">Mich St <span><input type="radio" ng-model = "group.2"></span></li></li>
          <li class="game game-spacer">&nbsp;</li>
          <li class="game game-bottom winner">Duke <span><input type="radio" ng-model = "group.2"></span></li></li>

          <li class="spacer">&nbsp;</li>
      </ul>
      <ul class="round round-4">
          <li class="spacer">&nbsp;</li>

          <li class="game game-top winner">Lousville <span><input type="radio" ng-model = "group.2"></span></li></li>
          <li class="game game-spacer">&nbsp;</li>
          <li class="game game-bottom ">Duke <span><input type="radio" ng-model = "group.2"></span></li></li>

          <li class="spacer">&nbsp;</li>
      </ul>
  </main>
</div>
